body {
  font-family: 'Courier New', Courier, monospace;
  background: radial-gradient(circle, #000 0%, #111 100%);
  color: #0ff;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  margin-top: 20px; /* Marge en haut */
  max-width: 600px;
  padding: 20px;
  background-color: #111;
  border: 2px solid #00f;
  border-radius: 15px;
  box-shadow: 0 0 30px #00f, 0 0 50px #ff00ff inset;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: glow 2s infinite alternate;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px #00f, 0 0 60px #ff00ff inset;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #00f, 0 0 20px #ff00ff;
  animation: pulse 3s infinite;
}

.highlight-xss {
  color: #ff0;
  font-weight: bold;
  text-shadow: 0 0 10px #0000ff, 0 0 20px #ff00ff;
}

.highlight-trhacknon {
  color: #0ff;
  font-weight: bold;
  text-shadow: 0 0 10px #0000ff, 0 0 15px #ff00ff, 0 0 20px #000000;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 1.2em;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: #222;
  color: #0ff;
  box-shadow: 0 0 10px #ff00ff;
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0 0 20px #ffff00;
}

button {
  background-color: #000000;
  color: #ff0000;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.2em;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px #ff00ff;
  animation: pulse 2s infinite alternate;
}

button:hover {
  color: #000000;
  background-color: #ff0000;
  box-shadow: 0 0 20px #ffff00;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #222;
  color: #0ff;
  padding: 10px;
}

select:focus, input:focus {
  outline: none;
  box-shadow: 0 0 20px #0ff;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #00f;
  }
  50% {
    box-shadow: 0 0 20px #ff00ff;
  }
  100% {
    box-shadow: 0 0 5px #00f;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px #00f;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px #ff00ff;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px #00f;
  }
}